# arch/arm/mach-s5pv310/Kconfig
#
# Copyright (c) 2010 Samsung Electronics Co., Ltd.
#		http://www.samsung.com/
#
# Licensed under GPLv2

# Configuration options for the S5PV310

if ARCH_S5PV310

config CPU_S5PV310
	bool
	select PLAT_S5P
	select S3C_PL330_DMA
	select S3C_DEV_RTC
	help
	  Enable S5PV310 CPU support

config S5PV310_SETUP_I2C1
	bool
	default y
	help
	  Common setup code for i2c bus 1.

config S5PV310_SETUP_FB_S3C
	bool
	default y
	help
	  Setup code for S5PV310 FIMD

config S5PV310_SETUP_FIMC0
	bool
	depends on VIDEO_FIMC
	default y
	help
	  Common setup code for FIMC controller 0.

config S5PV310_SETUP_FIMC1
	bool
	depends on VIDEO_FIMC
	default y
	help
	  Common setup code for FIMC controller 1.

config S5PV310_SETUP_FIMC2
	bool
	depends on VIDEO_FIMC
	default y
	help
	  Common setup code for FIMC controller 2.

config S5PV310_SETUP_FIMC3
	bool
	depends on VIDEO_FIMC
	default y
	help
	  Common setup code for FIMC controller 3.

config S5PV310_SETUP_CSIS
	bool
	depends on VIDEO_FIMC_MIPI
	default y
	help
	  Common setup code for MIPI-CSIS

config S5PV310_SETUP_I2C2
	bool
	default y
	help
	  Common setup code for i2c bus 2.

config S5PV310_SETUP_I2C3
	bool
	default y
	help
	  Common setup code for i2c bus 3.

config S5PV310_SETUP_I2C4
	bool
	default y
	help
	  Common setup code for i2c bus 4.

config S5PV310_SETUP_I2C5
	bool
	default y
	help
	  Common setup code for i2c bus 5.

config S5PV310_SETUP_I2C6
	bool
	default y
	help
	  Common setup code for i2c bus 6.

config S5PV310_SETUP_I2C7
	bool
	default y
	help
	  Common setup code for i2c bus 7.

config S5PV310_SETUP_SDHCI
	bool
	select S5PV310_SETUP_SDHCI_GPIO
	help
	  Internal helper functions for S5PV310 based SDHCI systems.

config S5PV310_SETUP_SDHCI_GPIO
	bool
	help
	  Common setup code for SDHCI gpio.

# machine support

config MACH_SMDKV310
	bool "SMDKV310"
	select CPU_S5PV310
	select ARCH_SPARSEMEM_ENABLE
	select SAMSUNG_DEV_ADC
	select SAMSUNG_DEV_TS
	select S3C_DEV_WDT
	select HAVE_S3C2410_WATCHDOG
	select HAVE_PWM
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC2
	select S5PV310_SETUP_SDHCI
	select S3C_DEV_GIB
	help
	  Machine support for Samsung SMDKV310

config S5PV310_FPGA
	bool "FPGA"
endif


